body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.title {
    text-align: center;
    font-size: 2.5em;
    color: #2c3e50;
    margin-bottom: 20px;
}

.panel {
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px;
}

h2 {
    margin: 0 0 15px;
    font-size: 1.5em;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.skill-name {
    width: 120px;
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f7f9fa;
    color: #2c3e50;
}

.value {
    width: 50px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 10px;
    background: #f7f9fa;
    color: #2c3e50;
}

.control-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #0984e3;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.control-btn:hover {
    background-color: #74b9ff;
}

.add-skill-btn {
    margin-top: 10px;
    padding: 8px 15px;
    background-color: white;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.radar-panel {
    margin-bottom: 20px;
    text-align: center;
}

#radarChart {
    max-width: 100%;
    margin: 0 auto;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: transparent;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
    color: transparent;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
    color: transparent;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: transparent;
}

.barChart {
    width: 100%;
    height: auto;
    max-width: 400px;
    max-height: 50px;
}

/* 通用按钮样式 */
button {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* 实现奖励按钮 */
.button-claim {
    background-color: #4CAF50; /* 绿色 */
    color: white;
    margin-right: 10px;
}

.button-claim:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

/* 删除按钮 */
.button-delete {
    background-color: #e74c3c; /* 红色 */
    color: white;
}

.button-delete:hover {
    background-color: #d62c1a;
    transform: scale(1.05);
}